<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiab.mob.com.appfinalbrunomartini">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <dependency>
            <groupid>
                com.facebook.stetho
            </groupid>

            <artifactid>
                stetho
            </artifactid>

            <version>
                1.4.1
            </version>
        </dependency>

        <activity android:name=".ProductsRegister"></activity>
    </application>

</manifest>